<h1><%= params[:category] %></h1>

<% if @courses.count == 0 %>
    <p>There are no courses in this category.</p>
<% else %>
<div class="row">
    <% @courses.each do |course| %>
        <div class="col-md-4"> 
            <a href="/courses/<%= course.id %>">
                <%= image_tag course.course_img.url(:course_index), class: "course" %>
            </a>  
        </div>
    <% end %>
</div>
<% end %>